<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.XmlEmployeeMapper">
  <resultMap type="com.example.mybatis.model.Employee" id="employeeResult">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="address" column="address" />
    <result property="company" column="company" />
  </resultMap>

  <select id="selectAll" resultMap="employeeResult">
    SELECT * FROM employee
    <if test="orderBy != null">
      ORDER BY ${orderBy}
    </if>
  </select>
  <select id="selectById" resultMap="employeeResult">
    SELECT * FROM employee WHERE id=#{id}
  </select>
</mapper>